<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/personas</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">silvi</property>
    <property name="hibernate.c3p0.min_size">10</property>
    <property name="hibernate.c3p0.max_size">20</property>
    <property name="hibernate.c3p0.acquire_increment">1</property>
    <property name="hibernate.c3p0.idle_test_period">3000</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    <property name="hibernate.c3p0.timeout">1800</property>
    <property name="hbm2ddl.auto">update</property>
    <mapping package="src/ejemplo"/>
    <mapping resource="ejemplo/Persona.hbm.xml"/>
    <mapping class="ejemplo.Persona"/>
    <mapping package="src/ejemplo"/>
    <mapping resource="ejemplo/Auto.hbm.xml"/>
    <mapping class="ejemplo.Auto"/>
    <mapping resource="ejemplo/Empleado.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
